<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% include blocks/header.ejs %>
  <!-- http://127.0.0.1:3000/news/some_id -->
  <h1>News Page with ID <%= newsId %></h1> 
  <h2><b>Title:<b> <%= obj.title %></h2>
    <h2><b>ID:<b> <%= obj.id %></h2>
  <h2>Some param: <%= newParam %></h2>
  <ul>
    <% obj.paragraphs.forEach((item) => { %>
    <li><%= item %></li>
    <% }) %>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et sollicitudin ac orci phasellus egestas tellus. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Nec dui nunc mattis enim ut tellus elementum. Velit laoreet id donec ultrices tincidunt. Enim praesent elementum facilisis leo vel. Lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor. Volutpat diam ut venenatis tellus in metus. Amet aliquam id diam maecenas. Ac auctor augue mauris augue neque gravida in fermentum et. Nisl rhoncus mattis rhoncus urna neque viverra justo nec. Vel pharetra vel turpis nunc eget lorem dolor sed. Urna neque viverra justo nec ultrices dui. Duis at tellus at urna condimentum mattis pellentesque id nibh.
  </p>
</body>

</html>